@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
      margin: 0px;
      padding: 0px;
}

:root {
      --fonte1:Verdana, Geneva, Tahoma, sans-serif;
      --fonte2:'Caveat', cursive;
      --fonte3:'Roboto', sans-serif;
}

html,body {
      min-height: 100vh;
      background-color: darkgray;
      font-family: var(--fonte1);
}

header {
      color: white;
      background-color: black;
      text-align: center;
      /*padding: 50px 0px;*/
      font-family: var(--fonte3);
      
}

header > h1 {
      font-variant: small-caps;
      padding-top: 50px;
      font-size: 5vw;
}

header > p { 
      padding-bottom: 50px;

}
a {
      font-weight: bolder;
      text-decoration: none;
      color:white;
}

a:hover {
      text-decoration: underline;
}

section {
      padding-top:10vh;
      padding-bottom: 10vh;
      padding-left: 3vh;
      line-height: 2em;
      font-family: var(--fonte2);
      font-weight: 500;
      font-size: 2.9vw;
}

section > p {
      padding-bottom: 30px;
}

section.imagem > p {
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.24);
      padding: 10px 20px;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);
      border-radius: 10px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
      color: white;
}

.normal {
      background-color: white;
      color: black;
      padding-left: 35px;
}

.imagem {
      background-color: rgb(51, 51, 51);
      color: white;
      box-shadow: inset 0px 0px 17px 6px rgba(0, 0, 0, 0.473);
      background-size: cover;
      background-attachment: fixed;
}

#img01 {
      background-image:url(../imagens/background001.jpg);
      background-position:right center;
      

}

#img02 {
      background-image:url(../imagens/background002.jpg);   
      background-position:right center;
     
}

footer {
      padding: 15px;
      background-color: black;
      color:white;
      text-align: center;
}